<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
	internalLogLevel="Information"
      internalLogFile="C:\Users\10709204\source\repos\internal-logfile.txt">
	<variable name="line" value="---------------------------------------------------------------------------------------------------------------------------------------------"/>

	<extensions>
		<add assembly="Nlog.Appsettings.Standard"/>
	</extensions>
	<targets>
		<target name="ExceptionLog" xsi:type="FallbackGroup" returnToFirstOnSuccess="false">
			<target name="database" xsi:type="Database"
					dbProvider="MySqlConnector.MySqlConnection,MySqlConnector"
				connectionString ="${appsettings:name=ConnectionStrings.DbConnection}"
					commandType="StoredProcedure"
				commandText="Sp_LogError">
				
				<!--INSERT INTO CuelogicDb.Sp_LogError(
					Application,Logged,Level,Message,
					Logger,CallSite,Exception
					) values (
					@Application,@Logged,@Level,@Message,
					@Logger,@Callsite,@Exception
					);-->
				

				<parameter name="@Application" layout="AspNetCoreNlog" />
				<parameter name="@Logged" layout="${date}" />
				<parameter name="@Level" layout="${level}"  />
				<parameter name="@Message" layout="${message}" />
				<parameter name="@Logger" layout="${logger}" />
				<parameter name="@CallSite" layout="${callsite:filename=true}" />
				<parameter name="@Exception" layout="${exception:format=tostring}"  />
			</target>
			<target  name="file" xsi:type="File"
					 layout="${newline} DATE= ${date} ${newline} ERROR LEVEL= ${level}${newline} MESSAGE= ${message} ${newline} LOGGER NAME= ${logger} ${newline} CALLSITE=  ${callsite:filename=true} ${newline} EXCEPTION DETAILS = ${exception:tostring}${newline}${line}"
					 fileName="C:\Users\10709204\source\repos\ExceptionLogs.txt">
			</target>
		</target>

	</targets>

	<rules>
		<logger name="CuelogicResourceManagement.*.*" minlevel="Error" writeTo="ExceptionLog" />
	</rules>

</nlog>